{{ define "main" }}
<main id="content" class="lg:min-h-[250px]">
  <article id="markdown" class="markdown px-2 lg:p-0">
    <header class="mb-8">
      <span class="uppercase">Section</span>
      <h1 class="my-0">{{- .Title -}}</h1>
      {{- if .Params.Subtitle }}
      <h2 class="my-0 text-stone-500 font-normal italic">
        {{- .Params.Subtitle -}}
      </h2>
      {{ end -}}
    </header>
    {{- .Content -}}
  </article>
  {{ range .Pages.ByPublishDate.Reverse }}
  <article class="my-6 relative px-2 lg:p-0">
    <h1 class="text-xl font-bold">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <p>{{ .Summary }}</p>
    <time class="absolute top-0 right-2 lg:right-0"
      >{{ .Date.Format "2006-01-02" }}</time
    >
  </article>
  {{ end }}
</main>
{{ end }}
